<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Assignment Portal</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="stylesheets/uniform.css">
    <script src="stylesheets/jquery-2.1.1.min.js"></script>
    <script src="stylesheets/bootstrap.js"></script>
  </head>
  <body>
    {% if user %}
      {% if not PortalUser.query(PortalUser.identity == user.user_id()).get() %}
      <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="margin-top: 25%; margin-left: 15%;">
          <form action="/home" method="post">
            <input type="radio" name="role" value="Student">Student<br><br>
            <input type="radio" name="role" value="Teacher">Teacher<br><br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="col-md-4"></div>
      </div>
      {% endif %}
    {% else %}
      <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div style="margin-left:35%; margin-top:50%;">
            <h1 style="margin-left:-17%">Assignment Portal</h1><br>
            <button class="btn-lg"><a href="{{ url|safe }}">{{ url_linktext }}</a></button>
          </div> 
        </div>
        <div class="col-md-3"></div> 
      </div>
    {% endif %}
  </body>
</html>
{% endautoescape %}